body {
  background-image: url('./workspace.jpg'); /* Замените на путь к вашему изображению */
  background-repeat: no-repeat; /* Отключает повторение изображения */
  background-size: cover; /* Изображение заполняет весь контейнер, сохраняя пропорции */
  background-position: center center; /* Устанавливает изображение по центру страницы */
  background-attachment: fixed; /* Закрепляет изображение относительно экрана, чтобы оно не двигалось при прокрутке */
}

.App {
  display: flex;
}

.container-data {
  width: 50%; /* Задает ширину 40% от экрана */
  padding: 10px 0px 0px 20px; /* Внутренний отступ для удобства */
  height: 100vh;
  margin: 0;
}

/* Правый блок, который занимает 60% */
.container-claim {
  width: 50%; /* Задает оставшуюся ширину */
  padding: 20px; /* Внутренний отступ */
  background-color: rgba(252, 253, 255, 0.872);
  overflow-y: auto; /* Вертикальная прокрутка */
  height: 100vh;
}

.block {
  display: none; /* Скрытие блока */
}

.data {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.data h3 {
  font-size: 16px;
  line-height: 1;
}

.data h4 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  padding: 5px 0px 5px 0px;
}

input[type="text"], select.peni-select, select.straf-select {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

input[type="date"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

.dateDuty {
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 4px;
  width: 70px;
  font-size: 13px;
}

.daysPenalty {
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 4px;
  width: 300px;
  font-size: 13px;
}

.sumPenalty, .sumIncrease, .tdClass {
  padding: 4px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 14px;
}


.sumInput, .tdClass {
  width: 80px;
}

th {
  background-color: #1171f6;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  color: white;
}

.calculateInput {
  width: 120px; 
}

form label {
  margin-bottom: 15px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

th, .tdClass {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

button {
  padding: 8px 20px;
  background-color: #1171f6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease;
}

button:hover {
  background-color: #0e61d1;
} 

.delete-row-button {
  padding: 6px 10px;
  background-color: #a0a4a9;
  color: white;
  border: none;
  cursor: pointer;
}

.delete-row-button:hover {
  background-color: #e8503b;
}

.add-row-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.containerClaim {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.download-button {
  margin-left: 20px; 
}

.containerClaim h2 {
  font-size: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.containerClaim p {
  margin: 0;
  text-indent: 40px; /* Отступ для каждого абзаца */
  text-align: justify;
  font-size: 15px;
}

.container-table td {
  font-size: 15px;
}

.container-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

.left-indent {
  text-indent: 40px; /* Отступ для первого td */
}

/* Выравнивание второго столбца по правому краю */
.align-right {
  text-align: right; /* Выравнивание второго td */
}